{% extends "store/base_1.html" %}
{% load static %}

{% block content %}


<div class="home-container">

    <section class="home" id="home">

        <div class="content">
            <h3>fresh and <span>organic</span> products for your</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam libero nostrum veniam facere tempore
                nisi.</p>
            <a href="#" class="btn">shop now</a>
        </div>

    </section>
</div>

<div class="container bg-white">


    <div class="row">
        {% for product in products %}
        <div class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3">

            <div class="product">
                <img src="{{product.product_image.first.image.url}}" alt="">
                <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
                    <li class="icon"><span class="fas fa-expand-arrows-alt"></span></li>
                    <li class="icon mx-3"><span class="far fa-heart"></span></li>
                    <li class="icon">
                        <!--                       <span class="fas fa-shopping-bag"></span>-->
                        <a class="fas fa-shopping-bag" href="{{ product.get_absolute_url }}"></a>
                    </li>
                </ul>
            </div>
            <div class="tag bg-red">sale</div>
            <div class="title pt-4 pb-1">{{product.title}}</div>
            <div class="d-flex align-content-center justify-content-center"><span class="fas fa-star"></span> <span
                    class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span>
                <span class="fas fa-star"></span></div>
            <div class="price">$ {{product.price}}</div>
        </div>
        {%endfor%}
    </div>

</div>


<!-- home section ends -->


{% endblock %}