{% extends "../base_1.html" %}
{% load static %}
{% csrf_token %}

{% block content %}

<!-- Product detail template -->


  <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6">
                        <img class="card-img-top mb-5 mb-md-0" src="{{ product.product_image.first.image.url }}" alt="{{ product.name }}" />
                    </div>
                    <div class="col-md-6">
                        <div class="small mb-1">SKU: BST-498</div>
                        <h1 class="display-5 fw-bolder">{{product.title}}</h1>
                        <div class="fs-5 mb-5">
                            <span class="text-decoration-line-through">${{product.price}}</span>
                            <span>${{product.price}}</span>
                        </div>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?</p>
                        <div class="d-flex">
                            <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                            <button class="btn btn-outline-dark flex-shrink-0" type="button" value ="{{product.id}}" id ="add-button" >
                                <i class="bi-cart-fill me-1"></i>
                                Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Related items section-->
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4">Related products</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Fancy Product</h5>
                                    <!-- Product price-->
                                    $40.00 - $80.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Special Item</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$20.00</span>
                                    $18.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Sale Item</h5>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$50.00</span>
                                    $25.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Popular Item</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    $40.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


<!--<div class="container" style="margin-top: 90px; min-height: 500px; min-width: 1000px; ">-->
<!--    <div class="row d-flex justify-content-center">-->
<!--        <div class="col-md-10">-->
<!--            <div class="card border-0">-->
<!--                <div class="row">-->
<!--                    <div class="col-md-6">-->
<!--                        <div class="images p-3">-->
<!--                            <div class="text-center p-4"><img id="main-image"-->
<!--                                                              src="{{ product.product_image.first.image.url }}"-->
<!--                                                              alt="{{ product.name }}" width="300"/></div>-->
<!--                            <div class="thumbnail text-center">-->
<!--                                {% for image in product.product_image.all %}-->
<!--                                <img id="product-images" onclick="change_image(this)" src="{{image.image.url}}"-->
<!--                                     width="100">-->
<!--                                {% endfor %}-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-6">-->
<!--                        <div class="product p-4">-->
<!--                            &lt;!&ndash;                            <div class="d-flex justify-content-between align-items-center">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                <div class="d-flex align-items-center"><i class="fa fa-long-arrow-left"></i> <span&ndash;&gt;-->
<!--                            &lt;!&ndash;                                        class="ml-1">Back</span></div>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                <i class="fa fa-shopping-cart text-muted"></i>&ndash;&gt;-->
<!--                            &lt;!&ndash;                            </div>&ndash;&gt;-->
<!--                            <div class="mt-4 mb-3">-->
<!--                                {% if product.in_stock %}-->
<!--                                <h3><span class="badge text-bg-info">In Stock</span></h3>-->
<!--                                {%else%}-->
<!--                                <h3><span class="badge text-bg-info">Not In Stock</span></h3>-->
<!--                                {% endif %}-->
<!--                                <h1 class="product-name">{{product.title}}</h1>-->
<!--                                   <p class="product-description">{{ product.description }}</p>-->
<!--                                    <p class="product-price">Price: ${{ product.price }}/lb</p>-->
<!--                                    <p class="product-category">Category: {{ product.category.name }}</p>-->
<!--&lt;!&ndash;                                <div class="price d-flex flex-row align-items-center">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <span class="act-price">${{product.price}}</span>&ndash;&gt;-->
<!--&lt;!&ndash;                                    &lt;!&ndash;                                <div class="ml-2"><small class="dis-price">$59</small> <span>40% OFF</span></div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->

<!--                                    <label class="product-price" for="select">Qty</label>-->
<!--                                    <select id="select" class="h5 store-select-dropdown">-->
<!--                                      <option value="1">1</option>-->
<!--                                      <option value="2">2</option>-->
<!--                                      <option value="3">3</option>-->
<!--                                      <option value="4">4</option>-->
<!--                                    </select>-->

<!--                            </div>-->


<!--                            <div class="cart mt-4 align-items-left">-->

<!--                                <button id = add-button type="button" value ="{{product.id}}" class="btn btn-primary add-to-cart-btn">Add to cart</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <script>
       function change_image(image){
                     var container = document.getElementById("main-image");
                    container.src = image.src;
                }
                document.addEventListener("DOMContentLoaded", function(event) {
                });

       $(document).on('click', '#add-button', function (e) {

            e.preventDefault();
            $.ajax({
              type: 'POST',
              url: '{% url "basket:basket_add" %}',
              data: {
                productid: $('#add-button').val(),
                productqty: $('#inputQuantity').val(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
              },
              success: function (json) {
                document.getElementById("basket-qty").innerHTML = json.qty
              },
              error: function (xhr, errmsg, err) {}
            });
          })




</script>

 {% endblock %}

